/* Import the mixins collection file... */
/* Variables... */
.landing {
  background-image: url("/assets/images/slides/chocolates-and-raspberries-918327.jpg");
  background-size: 100% 100%;
  background-color: black;
  -webkit-transition: .4s;
  transition: .4s;
}

.landing .bg-layer {
  background: rgba(0, 0, 0, 0.8);
}

.landing .bg-layer .grid {
  height: 100vh;
  color: white;
}

@media screen and (max-width: 650px) {
  .landing .bg-layer .grid {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-bottom: 40px;
  }
}

.landing .bg-layer .grid .logo-box {
  padding-top: 8vh;
  text-align: center;
  -webkit-transition: .3s;
  transition: .3s;
}

@media screen and (max-width: 1024px) {
  .landing .bg-layer .grid .logo-box {
    padding-top: 12vh;
  }
}

@media screen and (max-width: 860px) {
  .landing .bg-layer .grid .logo-box {
    padding-top: 8vh;
  }
}

.landing .bg-layer .grid .logo-box img {
  width: 160px;
}

@media screen and (max-width: 1024px) {
  .landing .bg-layer .grid .logo-box img {
    width: 120px;
  }
}

@media screen and (max-width: 860px) {
  .landing .bg-layer .grid .logo-box img {
    width: 90px;
  }
}

@media screen and (max-width: 650px) {
  .landing .bg-layer .grid .logo-box img {
    width: 60px;
  }
}

.landing .bg-layer .grid .logo-box h1 {
  font-size: 56px;
  margin-bottom: 18px;
  font-family: "Niconne", cursive;
  color: white;
}

@media screen and (max-width: 1024px) {
  .landing .bg-layer .grid .logo-box h1 {
    font-size: 48px;
  }
}

@media screen and (max-width: 860px) {
  .landing .bg-layer .grid .logo-box h1 {
    font-size: 30;
  }
}

@media screen and (max-width: 650px) {
  .landing .bg-layer .grid .logo-box h1 {
    font-size: 24px;
  }
}

.landing .bg-layer .grid .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

@media screen and (max-width: 650px) {
  .landing .bg-layer .grid .intro {
    padding-top: 20px;
  }
}

.landing .bg-layer .grid .intro h1 {
  font-size: 34px;
  margin-bottom: 18px;
  font-family: "Josefin Slab", serif;
}

@media screen and (max-width: 900px) {
  .landing .bg-layer .grid .intro h1 {
    font-size: 28px;
  }
}

@media screen and (max-width: 650px) {
  .landing .bg-layer .grid .intro h1 {
    font-size: 22px;
  }
}

.landing .bg-layer .grid .intro p {
  font-size: 16px;
  margin-bottom: 0;
  font-family: "Open Sans", sans-serif;
  width: 60%;
  margin: 0 auto;
}

@media screen and (max-width: 900px) {
  .landing .bg-layer .grid .intro p {
    width: 75%;
  }
}

@media screen and (max-width: 860px) {
  .landing .bg-layer .grid .intro p {
    width: 98%;
  }
}

@media screen and (max-width: 650px) {
  .landing .bg-layer .grid .intro p {
    font-size: 14px;
    width: 92%;
    margin-bottom: 16px;
  }
}

.landing .bg-layer .grid .search {
  text-align: center;
}

.landing .bg-layer .grid .search p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

@media screen and (max-width: 900px) {
  .landing .bg-layer .grid .search p {
    font-size: 12px;
  }
}

@media screen and (max-width: 650px) {
  .landing .bg-layer .grid .search p {
    font-size: 13px;
    width: 92%;
    margin: 0 auto;
  }
}

.landing .bg-layer .grid .search .inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding-top: 20px;
  padding-bottom: 40px;
}

@media screen and (max-width: 900px) {
  .landing .bg-layer .grid .search .inputs {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 10px;
  }
}

.landing .bg-layer .grid .search .inputs .item {
  background: white;
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
}

@media screen and (max-width: 900px) {
  .landing .bg-layer .grid .search .inputs .item {
    margin-bottom: 16px;
  }
}

.landing .bg-layer .grid .search .inputs .item label {
  color: transparent;
  position: absolute;
}

.landing .bg-layer .grid .search .inputs .item .fa {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #FF652F;
  font-size: 16px;
  padding: 0 12px;
}

.landing .bg-layer .grid .search .inputs .item input {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: white;
  margin-bottom: 0;
  border: none;
  border-radius: 4px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.landing .bg-layer .grid .search .inputs .item input:focus {
  border: none;
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.landing .bg-layer .grid .search #sub-btn {
  color: white;
  background: #FF652F;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  border-radius: 4px;
  padding: 12px 28px;
  -webkit-transition: .3s;
  transition: .3s;
}

@media screen and (max-width: 650px) {
  .landing .bg-layer .grid .search #sub-btn {
    font-size: 18px;
  }
}

.landing .bg-layer .grid .search #sub-btn:hover {
  background: #e63d00;
}

.landing .bg-layer .grid .search #sub-btn:focus {
  outline: 0;
}
/*# sourceMappingURL=landing.css.map */