/* Import the mixins collection file... */
/* Variables... */
.content {
  background-image: url("/assets/images/chef-preparing-vegetable-dish-on-tree-slab-1267320.jpg");
  background-size: 100% 100%;
  -webkit-transition: .3s;
  transition: .3s;
}

@media screen and (max-width: 650px) {
  .content {
    background-size: 200% 100%;
  }
}

.content .bg-layer {
  background-color: rgba(255, 255, 255, 0.6);
}

.content .bg-layer .grid {
  padding: 60px 0;
}

@media screen and (max-width: 450px) {
  .content .bg-layer .grid {
    padding-bottom: 40px;
  }
}

.content .bg-layer .grid h1 {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  font-family: "Josefin Slab", serif;
  font-size: 56px;
  padding-bottom: 48px;
  color: #272727;
  font-weight: 700;
}

@media screen and (max-width: 1024px) {
  .content .bg-layer .grid h1 {
    font-size: 48px;
  }
}

@media screen and (max-width: 800px) {
  .content .bg-layer .grid h1 {
    font-size: 38px;
  }
}

@media screen and (max-width: 650px) {
  .content .bg-layer .grid h1 {
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 500px) {
  .content .bg-layer .grid h1 {
    font-size: 32px;
  }
}

@media screen and (max-width: 350px) {
  .content .bg-layer .grid h1 {
    font-size: 28px;
  }
}

.content .bg-layer .grid .recipes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content .bg-layer .grid .recipes .recipe {
  width: 35%;
  margin: 0 40px 40px;
  -webkit-box-shadow: 0 8px 6px -6px #272727;
  box-shadow: 0 8px 6px -6px #272727;
  border: none;
}

@media screen and (max-width: 1024px) {
  .content .bg-layer .grid .recipes .recipe {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 800px) {
  .content .bg-layer .grid .recipes .recipe {
    width: 50%;
    margin: 0 40px 40px;
  }
}

@media screen and (max-width: 500px) {
  .content .bg-layer .grid .recipes .recipe {
    width: 50%;
    margin: 0 20px 40px;
  }
}

@media screen and (max-width: 450px) {
  .content .bg-layer .grid .recipes .recipe {
    width: 50%;
    margin: 0 10px 40px;
  }
}

.content .bg-layer .grid .recipes .recipe .credit {
  background: #FF652F;
  padding: 18px 26px 12px;
  text-align: left;
}

.content .bg-layer .grid .recipes .recipe .credit h4 {
  color: white;
  font-weight: 700;
  font-size: 15px;
  font-style: italic;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
}

@media screen and (max-width: 400px) {
  .content .bg-layer .grid .recipes .recipe .credit h4 {
    font-size: 12px;
  }
}

.content .bg-layer .grid .recipes .recipe .info {
  text-align: center;
  padding: 20px;
}

@media screen and (max-width: 450px) {
  .content .bg-layer .grid .recipes .recipe .info {
    padding: 10px;
  }
}

.content .bg-layer .grid .recipes .recipe .info .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 20px;
}

@media screen and (max-width: 450px) {
  .content .bg-layer .grid .recipes .recipe .info .heading {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 16px;
    padding-top: 10px;
  }
}

.content .bg-layer .grid .recipes .recipe .info .heading img {
  padding: 5px;
  width: 85px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: 1px solid #FF652F;
}

.content .bg-layer .grid .recipes .recipe .info .heading #title {
  padding: 0 8px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: "Josefin Slab", serif;
  color: #FF652F;
  font-size: 22px;
  font-weight: 700;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
}

.content .bg-layer .grid .recipes .recipe .info .heading #title:hover {
  color: #e63d00;
}

.content .bg-layer .grid .recipes .recipe .info hr {
  width: 90%;
  margin: 0 auto;
}

.content .bg-layer .grid .recipes .recipe .info #ingredients {
  color: #272727;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: italic;
  text-align: left;
  text-transform: capitalize;
  line-height: 2;
  padding: 18px;
}

@media screen and (max-width: 650px) {
  .content .bg-layer .grid .recipes .recipe .info #ingredients {
    font-size: 15px;
  }
}

.content .bg-layer .grid .recipes .recipe .info .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 20px;
  width: 65%;
  margin: 0 auto;
}

@media screen and (max-width: 450px) {
  .content .bg-layer .grid .recipes .recipe .info .btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.content .bg-layer .grid .recipes .recipe .info .btns .share-links {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (max-width: 650px) {
  .content .bg-layer .grid .recipes .recipe .info .btns .share-links {
    padding: 26px 0 16px;
  }
}

.content .bg-layer .grid .recipes .recipe .info .btns .share-links .fa {
  color: #FF652F;
  font-size: 24px;
  margin: 0 6px;
  -webkit-transition: .3s;
  transition: .3s;
}

@media screen and (max-width: 450px) {
  .content .bg-layer .grid .recipes .recipe .info .btns .share-links .fa {
    margin: 0 12px;
    font-size: 19px;
  }
}

.content .bg-layer .grid .recipes .recipe .info .btns .share-links .fa:hover {
  color: #e63d00;
}

.content .bg-layer .grid .recipes .recipe .info .btns #recipe-btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: #FF652F;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  border-radius: 4px;
  padding: 4px 14px;
  -webkit-transition: .3s;
  transition: .3s;
}

@media screen and (max-width: 450px) {
  .content .bg-layer .grid .recipes .recipe .info .btns #recipe-btn {
    font-size: 19px;
  }
}

.content .bg-layer .grid .recipes .recipe .info .btns #recipe-btn:hover {
  background: #e63d00;
}

.content .bg-layer .grid .recipes .recipe .info .btns #recipe-btn:focus {
  outline: 0;
}

.content .bg-layer .grid .pages {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 40px;
}

@media screen and (max-width: 800px) {
  .content .bg-layer .grid .pages {
    padding-top: 20px;
  }
}

@media screen and (max-width: 450px) {
  .content .bg-layer .grid .pages {
    padding-top: 10px;
  }
}

.content .bg-layer .grid .pages a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  background: #FF652F;
  padding: 8px 14px;
  color: white;
  -webkit-transition: .3s;
  transition: .3s;
}

.content .bg-layer .grid .pages a:hover {
  background: #e63d00;
}

.content .bg-layer .grid .pages .active {
  background: #e63d00;
}
/*# sourceMappingURL=recipe-content.css.map */